/* .header-sec{
  height: 60px;
  background-color:#0b5fb3;
}
.header-part{
  width: auto;
  height: 80px;
  padding: 20px;
  background-color:#0b5fb3;
  display: flex;
  align-items: center;
  justify-content: right;
}
.nav-part{
  display: flex;
  align-items: center;
  direction: rtl;
} */
/* .backgrand-div{
  width: auto;
  height: 530px;
  background-color:#0b5fb3;
  border-radius: 10px;
  margin-top: 30px;
  display:flex;
  align-items:center;
  position: relative;
} */
.ht{
  background-color: white;
  position: absolute;
  top:50%;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.p-ht{
  font-family: BYekanWeb, Tahoma, Geneva, sans-serif;
}
.r-m-p{
  display: block;
  color: #000;
}
.table{
    border-collapse: collapse;
    background-color: white;
    position: absolute;
    top:100%;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}
.tr{
  border-bottom: 1px solid #dddddd;
  font-family: BYekanWeb, Tahoma, Geneva, sans-serif;
}
.tr:hover{
  background-color: #fb0;
  color: white;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.table-h{
  text-align: center;
  padding: 8px;
}
.table-r{ 
  text-align: center;
  padding: 8px;
}
/* passenger dashbord */
/* .footer_box{
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#0b5fb3;
  border-top: 5px solid #dba100;
}

.newsletter{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.newsletter h4{
  padding-bottom: 2px;
  font-size:16px;
  text-align: right;
  padding: 5px 0;
}

.input-group{
  margin: 3px 0;
}

.input-group button{
  background-color: #dba100;
  color: #0b5fb3;
  border: 3px solid #0b5fb3;
  border-radius: 10px;
  padding: 6px 0;
}

.input-group input{
  border-radius: 10px;
  width: 300px;
  color: #0b5fb3;
  border: 2px solid #dba100;
  padding: 5px 0;
}

.input-group input:focus{
  border-color: #dba100;
}

.e_namad img{
  width: 200px;
  height: 150px;
  border-radius: 8px;
}


.link_item{
  color: white;
  padding: 10px;
  margin: 10px;
}

.link_item ul{
list-style: none;
display: flex;
flex-direction: column;
justify-content: baseline;
align-items: flex-end;
}

.link_item li{
  padding: 5px 0;
}

.icons-list{
  padding-left: 0px;
}

.icons-list a{
  color: #ffff;
  text-decoration: none;
}

.icons-list a:hover{
  color: #dba100;
} */


