.header-sec{
    height: 60px;
    background-color: #0b5fb3;
    border-color: #0b5fb3;
    
}
.header-part{
    width: auto;
    height: 50px;
    padding: 20px;
    background-color: #0b5fb3;
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 10px;
}
.nav-part{
    display: flex;
    align-items: center;
    direction: rtl;
}
.h-nav{
    text-decoration: none;
    margin: 0 10px;
    padding: 5px;
    color: white;
    font-family: BYekanWeb, Tahoma, Geneva, sans-serif;
}
.middle-div{
    width: auto;
    height: 595px;
    background-color: rgb(13, 70, 128);
    background: linear-gradient(rgba(15,132,250,1),rgba(255,255,255,0.5));
    margin-top: 2px;
    display:flex;
    align-items:center;
    position: relative;
    
}
.right-middle-sec{
    display:flex;
    justify-content:right;
    align-items:center;
    position: absolute;
    right: 50px;
}
.right-middle-part{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 250px;
  background-color: white;
  direction: rtl;
  border-radius: 10px;
  font-family: BYekanWeb, Tahoma, Geneva, sans-serif;
}
.r-m-p{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.r-m-nav{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.r-m-nav:hover{
    background-color: #fb0;
    color: white;
    border-radius: 10px;
}
.left-middle-sec{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items:center; 
    position: absolute;
    right: 300px;
}
.top-left-middle-div{
    background-color: white;
    width: 1000px;
    height: 120px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.l-m-p{
    direction: rtl;
    padding: 5px;
    font-family: BYekanWeb, Tahoma, Geneva, sans-serif;
}
.l-m-dl{
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
}
.l-m-dd{
    display: block;
    background-color: #ffebb2;
    border-radius: 6px;
    padding: 8px 16px;
    width: 150px;
    margin: 5px;
    text-decoration: none;
    direction: rtl;
    font-family: BYekanWeb, Tahoma, Geneva, sans-serif;
    
}
.l-m-dt{
    padding-top: 10px;
    padding-right: 5px;
    direction: rtl;
    font-family: BYekanWeb, Tahoma, Geneva, sans-serif;
}
.down-left-middle-div{
    background-color: white;
    width: 1000px;
    height: 165px;
    border-radius: 10px;
}